LITHIUM_ORACLE_CHROME_PATH=
LITHIUM_ORACLE_VISIBLE=0
LITHIUM_ORACLE_HEADLESS=0
LITHIUM_ORACLE_KEEP_BROWSER=0
LITHIUM_ORACLE_AUTO_RECOVER=1
LITHIUM_ORACLE_CHATGPT_URL=
LITHIUM_ORACLE_REUSE_CHATGPT_URL=0
